@media screen and (width < 1260px) {
    .section, .proj-wrapper, .contact-sec, .title-bar{
        padding: 2rem 4rem ;
    }
    .connect-container{
        padding: 0rem 4rem;
    }
    .projcontainer{
        height: 700px;
        width: auto;
        justify-content: flex-start;
    }
    .proj-img{
        top: auto;
        bottom: 10%;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
    }
}

@media screen and (width <= 1024px) {
    .proj-img{
        height: auto;
    }
    .proj-h1{
        font-size: calc(42px + 2vw);
    }
    .title-bar > span{
        display: none !important;
    }
    .title-bar{
        justify-content: stretch;
    }
    .title-bar {
        strong{
            width: auto;
        }
    }
}

@media screen and (width <= 900px) {
    .faded-p{
        width: auto;
    }
    .proj-wrapper,.title-bar, .contact-sec{
        padding: 2rem;
    }
    .connect-container{
        padding: 0 2rem;
    }
    .contact-sec{
        flex-direction: column;
        align-items: stretch;
        gap: 3rem;
    }
    .contact-head{
        width: 100%;
    }
    .contact-sec .cta{
        width: 100%;
        justify-content: center;
    }
    .proj-img{
        height: 250px;
    }
    .projcontainer{
        height: 500px;
        padding: 28px;
    }

}

@media screen and (width <= 720px) {
    .contact-head p{
        margin-top: 1.5rem;
    }
    .project-sec{
        border-radius: 12px;
        margin-bottom: 3rem;
    }
}

@media screen and (width <= 530px) {
    .proj-h2{
        font-size: 24px;
    }
    .tag{
        font-size: 12px;
    }
    .tags{
        flex-wrap: wrap;
    }
    .proj-img{
        height: 160px;
        bottom: 5%;
    }
    .projcontainer{
        height: 400px;
        gap: 1rem;
    }
    .proj-h1{
        font-size: 28px;
    }
    .faded-p{
        font-size: 16px;
    }
    .projcontainer{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .contact-head strong{
        font-size: 2rem;
    }
}
@media screen and (width <= 430px) {
    
    .connect-wrapper{
        flex-direction: column-reverse;
        padding: 1rem 0;
    }
    .connect-icons{
        justify-content: center;
    }
}