@media screen and (width < 1260px) {
    .section, .proj-wrapper, .contact-sec, .title-bar{
        padding: 2rem 4rem ;
    }
    .connect-container{
        padding: 0rem 4rem;
    }
}

@media screen and (width <= 1024px) {

    .proj-h1{
        font-size: calc(42px + 2vw);
    }
    .title-bar > span{
        display: none !important;
    }
    .title-bar{
        justify-content: stretch;
    }
    .title-bar {
        strong{
            width: auto;
        }
    }
}

@media screen and (width <= 900px) {
    .faded-p{
        width: auto;
    }
    .proj-wrapper,.title-bar, .contact-sec{
        padding: 2rem;
    }
    .connect-container{
        padding: 0 2rem;
    }
    .contact-sec{
        flex-direction: column;
        align-items: stretch;
        gap: 3rem;
    }
    .contact-head{
        width: 100%;
    }
    .contact-sec .cta{
        width: 100%;
        justify-content: center;
    }
    .tag{
        font-size: 12px;
    }
    .tags{
        flex-wrap: wrap;
    }

}

@media screen and (width <= 720px) {
    .project-sec{
        grid-template-columns: 1fr;
    }
}

@media screen and (width <= 530px) {
    
    .proj-h1{
        font-size: 28px;
    }
    .faded-p{
        font-size: 16px;
    }
    .contact-head strong{
        font-size: 2rem;
    }
}
