.proj-h1{
  color: var(--black);
  font-size: calc(56px + 2vw);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: var(--letter-spacing);
  user-select: none;
  position: relative;
}

#proj--sec{
  flex-direction: column;
  align-items: flex-start !important;
}